@font-face {
    font-family: Helvetica_Bold;
    src: url("./Helvetica-Bold.ttf");
}

@font-face {
    font-family: Helvetica_medium;
    src: url("./HelveticaNeue-Medium/HelveticaNeue-Medium.otf");
}

@font-face {
    font-family: proxima;
    src: url("./Proxima\ Nova\ Font.otf");
}

@font-face {
    font-family: proxima_bold;
    src: url(./FontsFree.otf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* --divWidth: calc(100vw); */
    --divWidth: calc(100vw - 10px);
}


/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    background-image: url("https://drive.google.com/uc?export=view&id=1yZ_UoEFBPoVz6WIV37XXWWQEBlqBDGPy");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: proxima;
    text-align: justify;
}

.conclaveWrap {
    width: var(--divWidth);
    overflow-x: clip;
}

.part1 {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-weight: 600;
    margin-top: 115px;
    margin-bottom: 10%;
    font-size: 200%;
    font-family: Helvetica_Bold;
    color: white;
    letter-spacing: 1.2;
}

.heading1 {
    font-weight: 600;
    margin-top: 80px;
    font-size: 200%;
    font-family: Helvetica_Bold;
    color: white;
}

.line {
    background-color: white;
    padding-top: 2px;
    width: 6rem;
    margin-bottom: 10vh;
    margin-top: 15px;
}

.line1 {
    width: 6rem;
    margin-top: 15px;
}


.text {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    /* background-color: red; */
    font-size: 150%;
    font-weight: 500;
    color: white;
    /* height: 500px; */
    width: 60vw;
    padding: 3.5vw;
    background-color: rgba(0, 4, 255, 0);
    backdrop-filter: blur(5px);
    border-color: aqua;
    border-radius: 25px;
    border-width: 25px;
    border: 0.2rem solid #fff;
}

.intro {
    color: rgba(255, 255, 255, 0.95);
}

.pastSpeakers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.speaker {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-bottom: 5%;
}



.speakerImg {
    height: 12vw;
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.speakerImg img {
    width: 15vw;
    margin: 20px;
}

.speakerInfo {
    color: white;
    display: flex;
    align-items: center;
    width: 50vw;
    flex-direction: column;

}

.speakeL {
    /* display: none; */
    flex-direction: row;
}

.speakeR {
    flex-direction: row-reverse;
}

.special {
    color: #ff1f69;
    font-family: proxima_bold;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-size: 32px;
    font-weight: 600;
}

.post {
    font-size: 24px;
}

.topic {
    margin-top: 15px;
    font-size: 24px;
}

.topic span {
    font-weight: 600;
}


button {
    margin: 20px;
}

.custom-btn {
    font-size: 1.1rem;
    font-family: 'proxima_bold';
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 11 */
.btn-11 {
    border: none;
    /* background: #ff1f69; */
    background: linear-gradient(0deg, #eb4670 0%, #eb2886 100%);
    color: #fff;
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}

.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
    /* margin-bottom: -0.5px; */
    /* margin-top: -40px; */
    scale: 1.1;
}

.btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.btnbar{
    padding-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3vw;
}

.dot1{
    background: linear-gradient(0deg, #386ed1 0%, #42b3d8 100%);
}

.upcoming_post{
    border: 0.05px solid #fff;
}

@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}



.animation {
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #00617c,
        0 0 0.8rem #00617c,
        0 0 2.8rem #00617c,
        inset 0 0 1.3rem #00617c;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .text {
        width: 70vw;
    }
}

@media screen and (max-width: 1100px) {
    .speaker {
        width: 90vw;
    }
}


@media screen and (max-width: 1000px) {
    .text {
        font-size: 20px;
    }

    .name {
        font-size: 30px;
    }

    .post,
    .topic {
        font-size: 22px;
    }
}


@media screen and (max-width: 750px) {
    .speaker {
        height: 500px;
        flex-direction: column !important;
        justify-content: center !important;
        margin-bottom: -20%;
    }

    .info {
        width: 85vw;
        align-items: center;
    }

    .post,
    .topic,
    .name {
        text-align: justify;
    }

    .post {
        margin-top: 0px;
    }

    .name {
        margin: 20px;
        margin-top: 30px;
    }

    .heading1 {
        margin-top: 12%;
    }

    .speakerImg {
        margin-top: -40%;
    }

    .animation {
        margin-bottom: 5%;
    }

    .DZ {
        margin-top: -10%;
    }

    .TZ {
        margin-top: -15%;
    }

    .line {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 20px;
        width: 70vw;
    }

    .line {
        margin-bottom: 7vh;
    }
}

@media screen and (max-width: 550px) {
    .heading1 {
        font-size: 29px;
    }

    .line1 {
        width: 250px;
    }

    .line {
        margin-bottom: 10%;
    }

    .animation {
        margin-bottom: 10%;
    }

    .TZ {
        margin-top: -25%;
    }

    .DZ {
        margin-top: -25%;
    }

    .CR {
        margin-top: -10%;
    }

    .QW {
        margin-top: -10%;
    }
}

@media screen and (max-width: 400px) {
    .line {
        width: 240px;
    }

    .heading {
        font-size: 44px;
    }

    .text {
        font-size: 19px;
    }

    .name {
        font-size: 26px;
    }

    .post,
    .topic {
        font-size: 20px;
    }

    .speaker {
        margin-top: -20%;
    }

    .line1 {
        margin-bottom: 30%;
    }

    .TZ {
        margin-top: -40%;
    }

    .DZ {
        margin-top: -40%;
    }

}

@media screen and (max-width: 350px) {

    .post,
    .topic {
        font-size: 15px;
    }

    .text {
        font-size: 16px;
    }

    .speaker {
        margin-top: -45%;
    }

    .TZ {
        margin-top: -70%;
    }

    .DZ {
        margin-top: -70%;
    }

    .line1 {
        margin-bottom: 50%;
    }

}

/* Neon animation */